<!DOCTYPE html>
<html lang="pt-br">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }

    strong {
      font-size: 1.2em
    }
  </style>
</head>

<body>
  <strong>Olá, {{ ad.author.name }}</strong>
  <p>Você tem uma nova solicitação de compra para o anúncio {{ ad.title }}</p>
  <br>
  <strong>{{ user.name }} ({{user.email}}): </strong>
  <p> {{content}} </p>
</body>

</html>
